{% extends "master.html.twig" %}

{% block mainContent %}

    <h1> - Welcome to POKER DESIGN - </h1>

    <a href ="/web/admin.php/product/7"><img src="{{mainPagePic1}}" data-zoom-image="{{mainPagePic1}}" alt="logo" height="300" width="550" hspace="60"></a>
    <a href ="/web/admin.php/product/8"><img src="{{mainPagePic2}}" alt="logo" height="300" width="550" hspace="60"></a><br>
    <strong id="mainPageTxt1" class="price">Custom logo design table with built in chip holder. </strong> 
    <strong id="mainPageTxt2" class="price">Fully integrated table with LED lights and bluetooth speakers. </strong>

    <br><br><br>

    <a href ="/web/admin.php/product/10"><img src="{{mainPagePic3}}" alt="logo" height="250" width="300" hspace="40"></a>
    <a href ="/web/admin.php/product/17"><img src="{{mainPagePic4}}" alt="logo" height="250" width="300" hspace="60"></a> 
    <a href ="/web/admin.php/product/6"><img src="{{mainPagePic5}}" alt="logo" height="250" width="300" hspace="40"></a><br><br><br>    
    <strong class="price">Click a product for more information.</strong>  


{% endblock %}





