 {% extends "master.html.twig" %}
 
 
{% block mainContent %}

     <h1>- {{name}} -</h1>
    
    <img src="{{image_path}}"  class="picHover" alt="product" height="300" width="550" hspace="60"><br><br><br>
    
    <div class="tables">
    <table width='100%'>
        <tr>
            <td>Product ID:</td>
            <td>Product name:</td>
            <td>Price:</td>
            <td>Description:</td>
        </tr>  
        <tr>
            <td>{{productID}}</td>
            <td>{{name}} </td>
            <td>${{price}} </td>
            <td>{{description}} </td>
        </tr>  
   </table><br>
    </div>
        <form method="post">   
            Enter quantity: <select name="quantity" class="100"></select><br>
            <input type="submit" value="ADD TO CART"><br><br>
        </form>
            
{% if errorList %}
<ul>
{% for error in errorList %}
<li> {{error}}</li>
{%endfor %}
</ul>
{% endif %}
     
   
   
{% endblock %}



   
   
   
    

    

